<section id="about-us" class="about-us-section">
    <h1 class="content-section-header">Experience</h1>
    <p class="content-section-blurb">Granite is independently owned and operated by Scott H. Lewis. Scott
    brings over 26 years of engineering experience. He carries several licenses
    and certifications including Professional Engineer (PE), Professional Land
    Surveyor (PLS), and Certified Federal Surveyor (CFedS). Before founding
    Granite, Scott formerly managed and operated the Powell branch of
    Inberg-Miller Engineers.</p>
</section>
