<section id="contact-us" class="contact-us">
    <div class="contact-us-info-wrapper">
        <h1 class="contact-us-header">Contact us</h1>
        <ul class="contact-us-info">
            <li class="contact-us-info-item">Phone: <a class="link" href="tel:307-254-0061">(307) 254-0061</a></li>
            <li class="contact-us-info-item">Email: <a class="link" href="mailto:info@granite-es.com">info@granite-es.com</a></li>
            <li class="contact-us-info-item address"><span style="white-space: pre">Address: </span><span>741 N. Day <br/> Powell, WY <br/> 82435</span></li>
        </ul>
    </div>
</section>
