<nav class="nav-header">
    <div class="nav-header-dropdown-menu">
        <ul class="nav-header-dropdown-menu-items">
            <li class="nav-header-dropdown-menu-item"><a class="link" href="#services">Services</a></li>
            <li class="nav-header-dropdown-menu-item"><a class="link" href="#about-us">About</a></li>
            <li class="nav-header-dropdown-menu-item"><a class="link" href="#contact-us">Contact</a></li>
        </ul>
    </div>
    {% include logo.svg logoClass="nav-header-logo" %}
    <div class="nav-header-spacer"></div>
    <ul class="collapsible-links">
        <li><a class="link" href="#services">Services</a></li>
        <li><a class="link" href="#about-us">About</a></li>
        <li><a class="link" href="#contact-us">Contact</a></li>
    </ul>
    <div class="three-bar-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</nav>
<script type="text/javascript">
var dropdownMenu = document.querySelector(".nav-header-dropdown-menu");
var threeBarMenu = document.querySelector(".three-bar-menu");
threeBarMenu.addEventListener('click', function(event) {
    var classList = dropdownMenu.classList;
    if (classList.contains('visible')) {
        return;
    } 

    dropdownMenu.classList.add('visible');
    setTimeout(function() {
        var closeDropdown = function () { 
            dropdownMenu.classList.remove('visible'); 
            document.removeEventListener('click', closeDropdown);
        };
        document.addEventListener('click', closeDropdown);
    }, 0);
    
});

function scrollToId(id) {
    var navHeader = document.querySelector('.nav-header');
    var navHeaderHeight = navHeader.getBoundingClientRect().height;

    var target = document.querySelector(id);
    var scrollOffset = target.getBoundingClientRect().top - navHeaderHeight;

    window.scrollBy(0, scrollOffset);
}

var links = document.querySelectorAll('.nav-header .link');
links.forEach(function(link) {
    var id = link.getAttribute('href');
    link.addEventListener('click', function(event) {
        event.preventDefault();
        scrollToId(id);
    });
});
</script>
