<section id="services" class="services-section">
<h1 class="services-list-header">Granite offers a full range of civil engineering services</h1>
<ul class="services-list">
    <li class="services-list-item">
        <div class="services-list-img surveying"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Surveying</h1>
            <div>Description</div>
        </div>
    </li>
    <li class="services-list-item">
        <div class="services-list-img civil"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Civil Engineering</h1>
            <div>Description</div>
        </div>
    </li>
    <li class="services-list-item">
        <div class="services-list-img environmental"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Environmental Engineering</h1>
            <div>Description</div>
        </div>
    </li>
    <li class="services-list-item">
        <div class="services-list-img geotechnical"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Geotechnical Engineering</h1>
            <div>Description</div>
        </div>
    </li>
</ul>
</section>
