<section id="services" class="services-section">
<h1 class="content-section-header">A full range of engineering and surveying services</h1>
<ul class="services-list">
    <li class="services-list-item">
        <div class="services-list-img surveying"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Surveying</h1>
            <div class="content-section-blurb">Are you looking to find your property lines to build a fence, or do you want to
construct a new house or addition? We can help with that. Do you want to
purchase a beautiful parcel of ground that you can call all your own?  We can
assist you by finding your property boundary lines and corners and preparing
the legal descriptions.</div>
        </div>
    </li>
    <li class="services-list-item">
        <div class="services-list-img civil"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Civil Engineering</h1>
            <div class="content-section-blurb">As architects and developers know, it all starts with a base
            drawing of the existing site topography, property lines, and
            utilities. These services are used in the proper planning and
            design that result in a successful project.  We understand that and
            can help you through the process.</div>
        </div>
    </li>
    <li class="services-list-item">
        <div class="services-list-img environmental"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Environmental Engineering</h1>
            <div class="content-section-blurb">You don’t want to buy an environmental problem that you didn’t know about but are now responsible for.  A Phase I Environmental Site Assessment will explore the site’s history and reveal potential problems.  Need a few monitoring wells installed or sampled? Do you have some routine water sampling or testing required to maintain your permit?  We offer all of these types of services.</div>

        </div>
    </li>
</ul>
</section>
