<section class="services-section">
<h1 id="services" class="services-list-header">Services</h1>
<ul class="services-list">
    <li class="services-list-item">
        <div class="services-list-img"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Civil Engineering</h1>
            <div>Description</div>
        </div>
    </li>
    <li class="services-list-item">
        <div class="services-list-img"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Geotechnical Engineering</h1>
            <div>Description</div>
        </div>
    </li>
    <li class="services-list-item">
        <div class="services-list-img"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Environmental Engineering</h1>
            <div>Description</div>
        </div>
    </li>
    <li class="services-list-item">
        <div class="services-list-img"></div>
        <div class="services-list-desc">
            <h2 class="services-list-desc-header">Surveying</h1>
            <div>Description</div>
        </div>
    </li>
</ul>
</section>
