@import 'vars';

.hero-section {
  align-items: center;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-name: hero-scroll;
  animation-timing-function: linear;
  background-image: url('/assets/img/construction-drawings.png');
  background-position: 0;
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  margin-top: $nav-header-height;
  padding: 120px 0;

  .hero-section-title {
    font-size: 3rem;
    letter-spacing: .2rem;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .hero-section-location {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
  }

  .see-services-btn {
    font-size: 2rem;
    margin-top: 3rem;
  }
}

@media(max-width: $small-header-break) {
  .hero-section {
    margin-top: $nav-header-small-height;
    padding: 40px;
  }
}

@keyframes hero-scroll {
  0% {
    background-position-x: 0;
    background-position-y: 0;
  }

  100% {
    background-position-x: 1675px;
    background-position-y: 1076px;
  }
}
