@import 'vars';

.hero-section {
  align-items: center;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-name: hero-scroll;
  animation-timing-function: linear;
  background-color: $granite-blue;
  background-image: url('/assets/img/construction-drawings.png');
  background-position: 0;
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  margin-top: $nav-header-height;
  padding: 148px 0;

  .hero-section-title {
    font-size: 3rem;
    letter-spacing: .2rem;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .hero-section-location {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
  }

  .see-services-btn {
    display: none;
    font-size: 2rem;
    margin-top: 3rem;
    position: relative;

    &::after {
      $down-arrow-width: 12px;
      border: solid $down-arrow-width $white;
      border-left: solid $down-arrow-width $transparent;
      border-top: solid $down-arrow-width $transparent;
      box-sizing: border-box;
      content: ' ';
      height: ($down-arrow-width * 2);
      left: calc(50% - #{$down-arrow-width});
      position: absolute;
      top: calc(100% + 16px);
      transform: rotate(45deg);
      transform-origin: center;
      width: ($down-arrow-width * 2);
    }
  }
}

@media(max-width: $small-header-break) {
  .hero-section {
    margin-top: $nav-header-small-height;
    padding: 40px;
  }
}

@media (max-width: 580px) and (max-height: 880px) {
  .hero-section {
    height: 100vh;
    margin: 0;
    padding: 0;

    .see-services-btn {
      display: block;
    }
  }
}

@keyframes hero-scroll {
  0% {
    background-position-x: 0;
    background-position-y: 0;
  }

  100% {
    background-position-x: 1675px;
    background-position-y: 1076px;
  }
}
