@import 'vars';

.services-section {
  color: $granite-blue;
  margin: 0 auto;
  max-width: 800px;
}

.services-list-header {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 3.5rem;
}

.services-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-list-item {
  display: flex;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:not(:last-child) {
    border-bottom: solid 1px $light-gray;
  }

  .services-list-img {
    background-color: $gray-1;
    background-position: center;
    background-size: cover;
    display: block;
    height: 200px;
    width: 200px;

    &.surveying {
      background-image: url('/assets/img/gps.png');
    }

    &.civil {
      background-image: url('/assets/img/ditch.png');
    }

    &.environmental {
      background-image: url('/assets/img/stake.png');
    }

    &.geotechnical {
      background-image: url('/assets/img/geotechnical.png');
    }
  }

  .services-list-desc {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1.75rem;
    padding-left: 15px;
    width: 600px;
  }

  .services-list-desc-header {
    font-size: 2rem;
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .services-list-header {
    font-size: 30px;
    margin: 15px 0;
    text-align: center;
  }

  .services-list {
    align-items: normal;
  }

  .services-list-item {
    .services-list-img {
      display: none;
    }
  }
}
