// Misc. dimensions
$nav-header-height: 78px;
$nav-header-small-height: 58px;

// Colors
$black: #000;
$white: #fff;
$gray-1: #757575;
$light-gray: #d6d6d6;
$granite-blue: #124c6a;
$granite-yellow: #fff967;
$granite-light-blue: lighten($granite-blue, 25%);
$transparent: rgba(0, 0, 0, 0);

// Breakpoints
$small-header-break: 930px;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
$font-stack: 'Lato', sans-serif;

// Content vars
$content-section-width: 800px;

